*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    line-height: 1.7;
}

#root,
#__next {
    isolation: isolate;
}


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

body {
    background-color: #FFFBF7;
}

/* //////////////////NAV///////////////////////// */
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #3EBFFF;
    height: 6.875rem;
}




.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.navbar-Links{
    display: flex;
    gap: 2.5rem;
    font-family: 'Barlow', sans-serif;
    font-size: 1.15rem;
    color: hsl(0, 0%, 100%);    
}
.toggle-button {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}

button {
    background-color: hsl(0, 0%, 100%);
    color: black;
    font-family: 'Fraunces',serif;
    font-weight: 900;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 12.5px 20px;
}
button:hover {
    background-color: #6ECEFF;
    color: white;
    cursor: pointer;
    transition: 0.25s;
    
}

.menu p:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-thickness: 3px
}
/* //////////////////HERO SECTION///////////////////////// */
.hero {
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 80vh;    
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

h1 {
    font-size: clamp(1rem, 9.1vw + .3rem, 3rem);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: .75rem;
    margin-top: 4rem;
}

.arrow-down {
    margin: 0 auto;
}

/* ////////////////////CONTENT LEARN MORE/////////////////////// */

.section1, .section2 {
    display: flex;
    
    
}
.learn-more, .learn-more2 {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-decoration-skip-ink: none;
    text-decoration: underline;
    text-decoration-color: hsla(51, 100%, 49%, 0.308);
    text-decoration-thickness: 6px;
    text-underline-offset: -0.2rem;
}
.learn-more:hover, .learn-more2:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: hsl(51, 100%, 49%);
    text-decoration-thickness: 6px;
    text-underline-offset: -0.2rem;
}
.section1 p:nth-child(2), .section2 p:nth-child(2) {
    font-family: 'Barlow', sans-serif;
    color: #97989F;
    font-weight: 600;
    font-size: 1rem;
}
.sub-title {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2.5rem;
}

.texto-learn {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    justify-content: center;
    padding: 0 8.5rem;

    
}
.txto-wrapper {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.imagen1, .imagen2 {
    /* background-image: url(/images/desktop/image-transform.jpg);
    background-size: cover;
    background-position: center; */
    flex-basis: 50%;
    min-width: 50%;
    flex-shrink: 0;
    
    
}
.imagen1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.imagen2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section2 {
    flex-direction: row-reverse;
}
/* .imagen2 {
    background-image: url(/images/desktop/image-stand-out.jpg);
} */

.learn-more2 {
    text-decoration-color: hsla(7, 99%, 70%, 0.281);
}

.learn-more2:hover {
    text-decoration-color: hsl(7, 99%, 70%);
}


/* ////////////////////CONTENT FRUITS/////////////////////// */


.fruit-section {
    display: flex;
    min-height: 39rem;
    
}


.seccion-fruit1, .seccion-fruit2 {
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 0 10.9375rem 3.125rem;
}

.seccion-fruit2 {
    background-image: url("images/desktop/image-photography.jpg");
}

.fruit-title {
    font-family: 'Fraunces', serif;
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
}

.seccion-fruit1 span,.seccion-fruit1 p {
    color: hsl(167, 40%, 24%);
}
.seccion-fruit2 span,.seccion-fruit2 p {
    color: hsl(198, 62%, 26%);
}

.fruit-section p {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    text-align: center;
}


/* ////////////////////TESTIMONIAL/////////////////////// */


.testimonial {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 6rem;
    min-height: 50rem;
    justify-content: center;
}

h3 {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 5px;
    color: hsl(210, 4%, 67%);
}

.testimonial-content {
    display: flex;
    margin: 0 100px;
}

.testimonial-profile {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
}

.testimonial-profile img {
    margin: 0 auto;
    border-radius: 50%;
    width: 75px;
}
.testimonial-profile p {
    padding: 0 30px;
}

.testimonial-content  {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    color: #616268;
}

.test-name {
    font-family: 'Fraunces', serif;
    color: black;
    font-size: 1.20rem;
    font-weight: 900;
    margin-bottom: 5px; ;
}
.rank-name {
    color: #a7a6a4;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    font-size: 0.9rem;
    
}


/* ////////////////////IMAGENES/////////////////////// */

/* .imagenes {
    display: flex;

    
    max-width: 100%;
    object-fit: contain;
} */

.imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.imagenes:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.imagenes:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.imagenes:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
}

.imagenes:nth-child(4) {
    grid-area: 1 / 4 / 2 / 5;
}

/* ////////////////////FOOTER/////////////////////// */

.footer-lgs {
    background-color: hsl(168, 52%, 66%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 24rem;
}

.footer-text {
    display: flex;
    gap: 4rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: hsl(168, 36%, 39%);
}

.logos {
    display: flex;
    gap: 1.5rem;
    
}

footer {
    background-color: #7BD5C3;
    text-align: center;
    font-family: 'Barlow',sans-serif;
    font-weight: 700;
    color: rgb(162, 0, 255);
}

@media (max-width:656px) {

    .toggle-button {
        display: flex;
        
    }
    .menu {
        display: none;

    }

    .menu.active {
        display: flex;
        flex-direction: column;
        background-color: white;
        color: black;
        z-index: 1;
        margin-top: 50px;
        padding: 50px;
        text-align: center;
    }
    .menu.active::before{
        content: "";
        position: absolute;
        top: 105px;
        right: 20px;
        border: 20px solid transparent;
        border-left-color:white ;
        transform: rotate(45deg);
    }

    .toggle-button.active .bar:nth-child(1) {
        transform: translateY(17px) rotate(45deg);
        transition: 0.5s;
    }
    .toggle-button.active .bar:nth-child(2) {
        opacity: 0;
    }
    .toggle-button.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    
    .navbar-Links {
        flex-direction: column;
        color: black;
    }
    nav {
        display: flex;
        flex-direction: column;
        
    }
    nav img{

        align-self: flex-start;
    }
    button {
        background-color:hsl(51, 100%, 49%) ;
    }


}

@media (max-width:1025px) {
    .section1,.section2 {
        flex-direction: column-reverse;
    }
    .imagen1 img,.imagen2 img {
        min-width:100%;
        max-height: 500px;
        object-fit: cover;
    }

    .texto-learn {
        padding: 25px;
        text-align: center;
        

    }
    .txto-wrapper{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 75px 0;
    }
    
    .hero{
        min-height: 70vh;
    }

    .fruit-section{
        flex-direction: column;
    }
    .seccion-fruit1,.seccion-fruit2{
        padding: 350px 15px 50px;
    }
    .testimonial {
        padding: 40px 0;
    }
    
    .testimonial-content {
        flex-direction: column;
        gap: 75px;
        margin: 0;
    }
    .imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .imagenes:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

        .imagenes:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

        .imagenes:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .imagenes:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
    }
}